@import "reset";
@import "../icons.css";
@import "team";
@import 'vacancy';
@import 'form';
@import "../burgerMenu.css";
@import "./../../styles/media/media";
@import "./../../styles/Switch.css";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.68);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #FF001E;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), inset -4px -4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #222222;
}


//HEADER
.active {
  background: #1e2024;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 10px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      &--img {
        width: 200px;
        height: 100px;
      }
    }

    &__nav {
      &--item {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        letter-spacing: 0.003em;
        margin: 0 15px;
        color: #F5F7F9;
        text-transform: capitalize !important;
      }
    }

    &__lang {
      &--buttons {
        button:nth-child(1) {
          background: #FF001E;
          box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), inset -4px -4px 5px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          padding: 5px 20px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */
          letter-spacing: 0.003em;
          cursor: pointer;
          color: #FFFFFF;

        }

        button:nth-child(2) {
          cursor: pointer;
          background: #FFFFFF;
          box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25), inset -3px -3px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          padding: 5px 20px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */
          letter-spacing: 0.003em;

          color: #FF001E;

        }

      }
    }

    &__contact {
      //border:1px solid linear-gradient(#FF001E, #8000FF);
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      padding: 10px 20px;
      letter-spacing: 0.003em;
      color: #F5F7F9;
    }

  }
}


//HEADER

//HERO

#hero {
  background: url("../../assets/images/bg.png") no-repeat center/cover fixed;
  min-height: 100vh;

  .hero {
    padding-top: 100px;

    &__title {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 120%;
      letter-spacing: 0.003em;
      color: #FFFFFF;

      &--span {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 120%;
        letter-spacing: 0.003em;
        background: linear-gradient(266.17deg, #C50000 29.07%, rgba(218, 97, 97, 0.841235) 40.08%, rgba(255, 0, 0, 0.6) 54.02%, #D24343 63.48%, rgba(255, 0, 0, 0.71) 72.23%, #FF0000 82.19%, rgba(255, 0, 30, 0.42) 91.27%, #FF001E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
    }

    &__desc {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      /* or 34px */
      letter-spacing: 2px;
      margin-bottom: 70px;
      color: #FFFFFF;

    }

    &__btn {
      background: #FFFFFF;
      border-radius: 5px;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      letter-spacing: 0.003em;
      padding: 5px 30px;
      color: #FF0000;
      transition: .4s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-modal {
      &__block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(5px);
        z-index: 5;
        height: 100%;
        background: rgba(0, 0, 0, 0.38);
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 200px;

        &__square {
          width: 800px;
          height: 400px;
          background: #333333;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          animation: .5s ani linear alternate;
          position: relative;
          @keyframes ani {
            0% {
              transform: scale(.6);
              opacity: 0;
            }
            50% {
              transform: scale(1);
              opacity: .4;
            }
            80% {
              transform: scale(1.1);

            }
            100% {
              transform: scale(1);
            }
          }

          &__width {
            width: 120px;
            height: 120px;
            border-top: 7px solid #FF001E;
            border-left: 7px solid #FF001E;
            background: transparent;
            position: absolute;
            top: -5px;
            left: -5px;
            z-index: -1;
            animation: .4s ani linear alternate;
          }

          &__width2 {
            width: 120px;
            height: 120px;
            border-bottom: 7px solid #FF001E;
            border-right: 7px solid #FF001E;
            background: transparent;
            position: absolute;
            bottom: -5px;
            right: -5px;
            z-index: -1;
            animation: .4s ani linear alternate;
          }

          span {
            color: red;
            font-size: 23px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            transition: .2s;

            &:hover {
              transform: scale(1.4);
            }
          }

          &__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--input {
              margin: 10px 20px;
              background: #282828;
              border-radius: 20px;
              width: 260px;
              padding: 0 10px;
              height: 40px;
              color: #FFFFFF;
            }

            &--btn {
              background: #FF001E;
              border-radius: 5px;
              color: #FFFFFF;
              padding: 8px 40px;
              margin-top: 40px;
              margin-left: 15rem;
            }

            &--message {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 49px;
              /* identical to box height */
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}

//HERO

//PROJECTS
#projects {
  .title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    letter-spacing: 0.003em;
    text-align: center;
    color: #FFFFFF;

  }

  .projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__col-4 {
      cursor: pointer;
      width: 33.33%;

      background: #333333;
      flex: 0 0;

      &--box {
        padding: 6px 10px;
        overflow-scrolling: auto;
        height: 130px;

        &__title {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;

          color: #FFFFFF;
        }

        &__desc {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 2px;
          color: #FFFFFF;
          margin-bottom: 24px;

        }

        &__btn {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 2px;
          margin-top: 10px;
          text-transform: capitalize;;
          background: transparent;
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          padding: 8px 40px;
          transition: 0.7s;

        }

        &__btn:hover {
          transition: 0.7s;
          background: #333333;
        }
      }

    }
  }
}

//PROJECTS

//SERVICES

#services {
  padding-top: 50px;

  .services-general {
    &__title {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 50px;
    }

    &__desc {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      text-align: center;
      color: #F5F7F9;
      margin-bottom: 80px;
    }

    &__gen {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__block {
      width: 370px;
      height: 312px;
      background: #313131;
      border-radius: 5px;
      position: relative;
      margin: 0 0 100px 0;
      transition: .4s;
      &:hover {
        transform: scale(1.1);
        background: red;
      }
      &__square {
        top: -50px;
        left: 30px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        background: #313131;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        padding-top: 80px;
        padding-left: 30px;
        margin-bottom: 25px;
      }

      p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #FFFFFF;
        padding-left: 30px;
        width: 332px;
      }
    }

  }
}

//SERVICES

//TABS
#tools {
  .tabs {
    background: #222222;
    padding-top: 50px;

    &-title {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 50px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__tab {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        border: none;
        background: transparent;
        margin-bottom: 50px;
        transition: .4s;
        cursor: pointer;

        &:focus {
          color: red;
          transform: scale(1.1);
        }

      }

      &__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
      }

      &__design {
        margin: 10px;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        p {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          padding-top: 10px;
          color: #F5F7F9;
        }
      }
    }
  }
}


//TABS

//TELL

//TELL

//CONTACT

#contact {
  .contact-general {

  }
}


//CONTACT

//FOOTER

#footer {
  border-top: 1px solid rgba(91, 91, 91, 1);

  .footer__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
  }
}

//FOOTER
