.menu-icon {
    color: rgb(7, 1, 1);
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    top: 30px;
    right: -100%;
    transition: 0.4s;
}

.nav-menu-items {
    list-style: none;
    background: #fff;
    position: absolute;
    top: -29px;
    z-index: -1;
    width: 300px;
    right: -11px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-menu-items li {
    padding: 20px;
    text-transform: uppercase;
    color: white;
}

.nav-menu-icons {
    font-size: 18px;
    color: white;
}

.active {
    right: 0;
}

.navbar2 {
    display: none;
}

@media (max-width: 768px) {

    .navbar2 {
        display: block;
    }

    .menu-icon {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 43px;
        cursor: pointer;
        z-index: 234567890;
    }

    .nav-menu-items {
        list-style: none;
        background: #333333;
        position: absolute;
        top: -29px;
        z-index: 123456;
        width: 330px;
        right: -11px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu-items li {
        padding: 20px;
        color: white;
        text-transform: uppercase;
        transition: .4s;
    }

    .nav-menu-items li {
        transform: scale(1.1);
    }

    .header__lang--buttons button:nth-child(1) {
        background: #FF001E;
        box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), inset -4px -4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 5px 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.003em;
        cursor: pointer;
        color: #FFFFFF;
    }

    .header__lang--buttons button:nth-child(2) {
        cursor: pointer;
        background: #FFFFFF;
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25), inset -3px -3px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 5px 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.003em;

        color: #FF001E;

    }
}






